<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iscas.biz.mapper.common.MenuOprationMapper">
  <resultMap id="BaseResultMap" type="com.iscas.biz.domain.common.MenuOprationKey">
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
    <id column="op_id" jdbcType="INTEGER" property="opId" />
  </resultMap>
  <sql id="Base_Column_List">
    menu_id, op_id
  </sql>
</mapper>